<!DOCTYPE html>
<html lang="en" ng-app="capseq">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Capture Seq</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/built.css' %}">
    <script src="{% static 'js/dependencies.js' %}"></script>
    <script type="text/javascript" src="http://www.biodalliance.org/release-0.13/dalliance-compiled.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <style>



.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
#expression.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}



    </style>

</head>
<body  ng-controller="GenomeController">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="#">CaptureSeq</a>

  </div>
</nav>
    <div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h3> Genomic Snapshot of Captured Region </h3>
            <genome-navigator id="navigator" region="region" selectedregion="selectedregion">



            </genome-navigator>

        </div>
        <div class="col-md-3">
            <h3>Selected Region </h3>
                <table class="table table-striped">
                        <tr>
                        <td>Chr</td><td> [[ selectedregion.chr ]]</td>
                        </tr>
                        <tr>
                        <td>Start</td><td> [[ selectedregion.start ]]</td>
                        </tr>
                        <tr>
                        <td>End</td><td> [[ selectedregion.end ]]</td>

                        </tr>
                        <tr>
                        <td>Region Width</td><td> [[ selectedregion.width ]]</td>
                        </tr>



                    </table>


        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-10">
                <div id="svgHolder"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-5" >
                <h3> Expression [[ transcript_data.transcript_id ]]</h3>

                <bar-chart id="expression" data="expression.expression" transcript_id = 'transcript_id'></bar-chart>
            </div>
            <div class="col-md-5">
                <div id="transcript_info"  >
                    <h3> Transcript name [[ transcript_data.transcript_id ]]</h3>
                     <p>track: [[ transcript_data.track ]]</p>
                    <table class="table table-striped">
                        <tr>
                        <th>Chr</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Exon Number</th>
                        <th>Strand</th>
                        </tr>
                        <tr ng-repeat="exon in  transcript_data.exons |  orderBy: 'exon_number'">
                            <td>[[ exon.chr ]]</td>
                            <td>[[ exon.start ]]</td>
                            <td>[[ exon.end ]]</td>
                            <td>[[ exon.exon_number ]]</td>
                            <td>[[ exon.strand ]]</td>
                        </tr>
                    </table>



                </div>
            </div>
        <div class="col-md-1"></div>
    </div>

    <script src="{% static 'js/built/capseq.built.js' %}"></script>
</body>
</html>
